<div class="block">
  {{ember-spinner}}
  Standard
</div>

<div class="block">
  {{ember-spinner raidus=30 width=30 color="#ffc52e"}}
  Large
</div>

<div class="block">
  {{ember-spinner lines=20 raidus=10 width=5 rotation=0 speed=4 color='blue'}}
  Small
</div>

